$gray900: #212121;
$gray900_87: #212121de;
$gray900_60: #21212199;
$gray900_36: #2121215c;
$gray200: #EEEEEE;
$gray600: #757575;
$black_12: #0000001f;
$black_24: #0000003d;
$black_32: #00000052;
$white: #FFFFFF;
$white_24: #ffffff3d;
$blue400: #42A5F5;
$blue500: #2196F3;
$orange900: #E65100;
$orange200: #FFCC80;
$green900: #1B5E20;
$green200: #A5D6A7;
$deepPurple900: #4527A0;
$deepPurple200: #B39DDB;
$red400: #EF5350;
$red500: #F44336;
$fontRoboto: "Roboto", sans-serif;